<?xml version='1.0'?>
<style>
    <css>bootmetro.css</css>
    <css>bootmetro-responsive.css</css>
    <css>bootmetro-ui-light.css</css>
    <css>bootmetro-icons.css</css>
    <css>datepicker.css</css>

    <js>jquery-1.8.3.js</js>
    <js>jquery.mousewheel.js</js>
    <js>jquery.scrollTo.js</js>
    <js>bootstrap.js</js>
    <js>bootmetro.js</js>
    <js>bootmetro-charms.js</js>
    <js>demo.js</js>
    <js>holder.js</js>
    <js>bootstrap-datepicker.js</js>
    <js>daterangepicker.js</js>
    <js>default.js</js>
</style>