#gradesGraph {
    width: 400px;
    height: 300px;
    float: right;
}

#gradesView {
    width: 400px;
}


#gradesView tr.selectedCourse td:nth-child(2),
#gradesView tr.selectedCourse td:last-child {

}
