@import url('buttons.css');
/*
    Document   : default
    Created on : 26.10.2012, 14:02:45
    Author     : mwegmann
    Description: default stylesheet
*/

/* reset + global styles */
html, body, div, object, iframe, fieldset { 
	margin: 0; 
	padding: 0; 
	border: 0;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background: #fff;
   color: #000;
   font-size: 1em;
}

a {
    color: #e88900;
    text-decoration: none;
}
a:hover, a:focus {
    color: #fada5b;
}

/* header-strip */
header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
    height: 40px;
    background: #F7F7F7;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
header h1 { 
    margin: 0 0 0 20px; 
    width: 230px;
    height: 60px;
    font-size: 0;
    background: url('../img/logo.png'); 
}

header div#rotator {
    position: absolute;
    left: 260px;
    top: 0;
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

header section#user-control-wrapper {
     float: right;
 }

header div#user-control {
    margin: 20px 20px 0 0;
    padding: 5px;
    background: #eee;
    border-radius: 5px;
}

header div#anon-control {
    margin: 12px 20px 0 0;
    padding: 5px;
}

header span#user-control-text {
    padding: 4px 0 0 5px;
}

header span.username {
    font-weight: bold;
}

/* main */
section#main { 
    margin: 80px 50px 50px 50px; 
    min-width: 560px; 
}
section#main nav { 
    height: 25px; 
    margin-bottom: -1px;  
}
section#main nav ul { 
    display: inline;
    padding: 0; 
    margin: 0;
    list-style: none; 
    background-color: #F9F9F9;
}
section#main nav ul li { 
    display: inline;
    height: 25px;
    padding: 6px;
    margin: 0 5px 0 0;
    border: 1px solid gainsboro;
    border-bottom-color: #F4F4F4;
    border-top-right-radius: 10px;
}

section#main nav ul li:hover { 
    background-color: #F4F4F4; 
    border-bottom: 1px solid #F4F4F4; 
}
section#main nav ul li a:link,
section#main nav ul li a:visited {
    height: 100%;
    display: inline-block;
    color: #000;
}
section#main nav ul li a:hover { 
    color: #333; 
}
section#main nav ul li.active { 
    background-color: #F4F4F4; 
}

/* content */
section#main article#content { 
    background-color: #F4F4F4;
    padding: 10px;
    border-color: gainsboro;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border: 1px solid gainsboro;
}

/* footer */
footer { 
    position: fixed; bottom: 0; left: 0; width: 100%; height: 30px;
    margin-top: 20px; padding: 10px 0 0 10px;
    background: #F7F7F7; border-top: 1px solid #999;
}


/* Messages */
.msg {
    display:block;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.errorMsg { background-color: tomato; }
.successMsg { background-color: #adff2f; }

/* Forms */
form fieldset {
    margin: 5px;
    padding-top: 10px;
    width: 530px;
    border-top: 1px dashed gainsboro;
}

form legend {
    font-size: 1.5em;
    font-weight: bold;
}

form label {
    font-size: 1.2em;
    float: left;
    clear: left;
    margin: 12px 20px 0 0;
    width: 220px;
    text-align: right;
}

form input {
    font-size: 1.2em;
    width: 250px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    margin: 10px 0 10px 0;
}

form span.hint {
    float: right;
    margin: 0 28px 10px 0;
    display: block;
    font-size: 0.8em;
    color: #8b0000;
}

form button {
    float: right;
    margin-right: 28px;
}